<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>SchoolPassReader</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style_index.css') }}">

</head>

<body>

    <div class="container">

        <h1>SchoolPassReader</h1>

        <p class="subtitulo">
            Sistema inteligente de presença escolar
        </p>

        <div class="grid">

            <div class="card">

                <h2>Cadastrar Aluno</h2>

                <p>
                    Registrar novos alunos no sistema.
                </p>

                <a href="/cadastro">
                    Acessar
                </a>

            </div>

            <div class="card">

                <h2>Registrar Acesso</h2>

                <p>
                    Registrar entrada ou saída.
                </p>

                <a href="/acesso">
                    Acessar
                </a>

            </div>

            <div class="card">

                <h2>Listar Alunos</h2>

                <p>
                    Ver alunos cadastrados.
                </p>

                <a href="/alunos">
                    Acessar
                </a>

            </div>

            <div class="card">

                <h2>Relatório de Acessos</h2>

                <p>
                    Ver entradas e saídas.
                </p>

                <a href="/relatorio-acessos">
                    Acessar
                </a>

            </div>

            <div class="card">

                <h2>Relatório de Presenças</h2>

                <p>
                    Ver chamadas registradas.
                </p>

                <a href="/relatorio-presencas">
                    Acessar
                </a>

            </div>

        </div>

    </div>

</body>

</html>